* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #f4f4f4;
}

/* Estilos da seção de serviços */
.services {
    color: #000;
    text-align: center;
    padding: 2em 0em 2em 0em;
    border-color: #333;
}
.service-text {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    border: solid;
    border-width: thick;
    border-width: 1px;
    border-color: #333;
    background-color: #edebea;
}
.service-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.service-textp {
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;
    color: #333;
}
.service-text ul {
    list-style: disc;
}
.service-text li {
    margin-bottom: 5px;
    list-style:none;
    line-height: 1.5em;
}

/* Estilos do banner */
.banner {
    background-image: url('https://i.imgur.com/s5Tqa5R.png'); /* Substitua pelo caminho da imagem do banner */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}
.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #fff,
        0 0 0.2em #000
}
.banner p {
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 0.5em #000, 0 0 0.5em #333,
        0 0 0.5em #000;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; /* Cor do ouro */
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #222;
    color: #FFD700; /* Cor do ouro */
}

/* Estilos para a seção da citação */
.service-citacao{
    line-height: 1.5em;
    color: #000;
    padding: 0.3em;
    font-size: 1em;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img {
    height: 10em;
    margin-bottom: 4.9em;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .services {
        color: #000;
        text-align: center;
        padding: 0em 0em 2em 0em;
        border-color: #333;
    }
    .serviceAdapt{
        padding: 2em 0em 2em 0em;
    }
    .banner {
        padding: 50px 0;
        background-size: auto 100%;
    }
    .banner h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .logo img {
        height: 4em;
        margin-bottom: 2em;
    }