* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #f4f4f4;
}

/* Estilos da seção de serviços */
.services {
    color: #000;
    text-align: center;
    padding: 1.5em 0em 2em 0em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: #333;
}
.service-text {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    border: solid;
    border-width: thick;
    border-width: 1px;
    border-color: #333;
    background-color: #edebea;
}
.service-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.service-text p {
    font-size: 16px;
    margin-bottom: 1em;
    font-weight: bold;
    font-style: italic;
    color: #333;
}
.service-text ul {
    list-style: disc;
}
.service-text li {
    margin-bottom: 5px;
    list-style:none;
    line-height: 1.5em;
}

/* Estilos do banner */
.banner {
    background-image: url('https://i.imgur.com/s5Tqa5R.png'); /* Substitua pelo caminho da imagem do banner */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}
.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #fff,
        0 0 0.2em #000
}
.banner p {
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 0.5em #000, 0 0 0.5em #333,
        0 0 0.5em #000;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; /* Cor do ouro */
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.5em;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #222;
    color: #FFD700; /* Cor do ouro */
}

/* Estilos para a seção da citação */

.highlight-quote{
    text-align: center;
    background-color: #edebea;
    padding: 1em 20px;
    line-height: 1.5em;
    color: #000;
    border-radius: 0.5em;
    border: solid;
    border-width: thick;
    border-width: 1px;
    border-color: #333;
}.quote-section {
     /* Cor de fundo para a seção da citação */
    margin: 2em 9em;
}
.quote-footer{
    padding-top: 0.5em;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img {
    height: 10em;
    margin-bottom: 4.9em;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .banner {
        padding: 50px 0;
    }
    .banner h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .banner p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    /* Estilos para a citação */
    .highlight-quote {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 1.5em;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #fff;
        text-align: center;
        line-height: 1.5em;
    }
    .highlight-quote p {
        font-style: italic;
        font-size: 20px; /* Tamanho de fonte maior */
        margin-top: 15px; /* Maior espaçamento acima da citação */
    }
    .quote-footer {
        margin-top: 10px;
    }
    .logo img {
        height: 3em;
        margin-bottom: 1.2em;
    }