body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .map-address {
    background-color: #f9f9f9;
    box-sizing: border-box;
    flex-basis: 70%;
    height: 44.7em;
    margin-bottom: 2.7em;
  }
  .map-address-mapagoogle{
    width: 100%;
    height: 450px;
  }
  .map {
    flex-basis: 70%;
    padding: 0.7em 0.7em 0.7em 0.7em; 
    background-color: #f9f9f9;
  }
  .address p{
    font-size: 16px;
  }
  .itenstexto{
    padding-left: 20px;
  }
  .address h2{
    padding-left: 2.5em;
  }
  .ItensdeContatos img{
    padding-right: 0.5em;
  }
  .ItensdeContatos p{
    display: flex;
    align-items: center;
  }
  .endereçotexto {
    padding-left: 3.2em;
  }
  .about-company {
    flex-basis: 70%;
    background-color: #f9f9f9;
    padding: 1em 2em 1em 2.5em;
    box-sizing: border-box;
  }
  .company-info {
    font-size: 16px;
    /*color: #333;*/
    text-align: justify;
    line-height: 1.5em;
  }
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
    .map-address,
    .about-company {
      flex-basis: 100%;
    }
    .company-info,.address p {
      font-size: 14px;
    }
    .company-info {
    text-align: left;
    line-height: 1.5em;
    }
     
    .address h2, .company-info h2 {
      font-size: 20px;
    }
  }
    
  .map-address-mapagoogle{
  }